.header {
 display: flex;
 padding: $gutter;
 align-items: center;
 background-color: $white;
 @media screen and (max-width: 800px) {
  flex-direction: column;
 }
}

.select,
.filter {
 color: $secondary;
 font-weight: 700;
 font-size: 1.6rem;
}

.select {
 cursor: pointer;
 border: none;
 outline: none;
 appearance: none;
 padding: 1rem;
 border-radius: 0.4rem;
 border: 2px solid $secondary;
 margin-right: auto;
}

.filter {
 display: flex;
 height: 3.5rem;
 border-radius: 0.4rem;
 line-height: 3.5rem;
 text-align: center;
 @media screen and (max-width: 800px) {
  margin-top: $gutter;
  width: 100%;
  overflow-x: scroll;
 }

 &__label {
  display: block;
  cursor: pointer;
  position: relative;
 }

 &__text {
  padding: 0 4rem;
  margin: 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
 }

 &__radio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  &:checked + .filter__text {
   border-bottom-color: $secondary;
  }
 }
}
